@charset "UTF-8";
/* 颜色 */
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.sprite {
  display: inline-block; }

.sprite-top-icon {
  background-image: url(../../images/sprites/sprite.png);
  background-position: 0px -82px;
  width: 28px;
  height: 25px; }

.sprite-top {
  background-image: url(../../images/sprites/sprite.png);
  background-position: 0px 0px;
  width: 114px;
  height: 77px; }

.mod-article-list h2 {
  font-size: 20px; }
  .mod-article-list h2 a, .mod-article-list h2 i {
    vertical-align: middle; }

.mod-article-list .article-content {
  font-size: 14px;
  line-height: 1.6;
  text-indent: 2em; }
  .mod-article-list .article-content a {
    color: #666; }
    .mod-article-list .article-content a:hover, .mod-article-list .article-content a:active {
      color: #666;
      text-decoration: none; }

.mod-article-list .article-type {
  margin-top: -5px; }
  .mod-article-list .article-type .article-category, .mod-article-list .article-type .article-tags {
    padding: 5px 0;
    float: left; }
    .mod-article-list .article-type .article-category strong, .mod-article-list .article-type .article-tags strong {
      color: #555; }
    .mod-article-list .article-type .article-category strong, .mod-article-list .article-type .article-category a, .mod-article-list .article-type .article-tags strong, .mod-article-list .article-type .article-tags a {
      vertical-align: middle; }
  .mod-article-list .article-type .article-tags a {
    margin-right: 6px; }
  .mod-article-list .article-type .article-category {
    margin-right: 20px; }

.mod-article-list .article-info {
  margin-top: 10px;
  font-size: 12px; }
  .mod-article-list .article-info span {
    color: #999; }
  .mod-article-list .article-info .info-right {
    float: right; }
    .mod-article-list .article-info .info-right span {
      margin-left: 20px; }
  .mod-article-list .article-info .glyphicon {
    width: 12px;
    height: 12px; }

.mod-category-list li {
  padding: 1px 0;
  list-style: none; }

.mod-tag-list a {
  display: inline-block;
  padding: .35em .6em .45em;
  margin-bottom: 5px; }

.mod-hot-list li {
  padding: 1px 0; }

.category-title {
  font-size: 24px;
  margin-bottom: 20px; }
