@charset "UTF-8";
/* 颜色 */
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.sprite {
  display: inline-block; }

.sprite-top-icon {
  background-image: url(../../images/sprites/sprite.png);
  background-position: 0px -82px;
  width: 28px;
  height: 25px; }

.sprite-top {
  background-image: url(../../images/sprites/sprite.png);
  background-position: 0px 0px;
  width: 114px;
  height: 77px; }

.mod-category-list li {
  padding: 1px 0;
  list-style: none; }

.mod-tag-list a {
  display: inline-block;
  padding: .35em .6em .45em;
  margin-bottom: 5px; }

.mod-hot-list li {
  padding: 1px 0; }

.file-menu {
  padding-left: 8px; }
  .file-menu a {
    margin-right: 10px; }

.file-list {
  margin-top: 10px;
  list-style: none;
  font-size: 16px; }
  .file-list li {
    margin-top: 4px; }
  .file-list .no-data {
    padding: 10px 0; }
