<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/page/home.css"></head>
<body>
  <header class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#blog-navbar-menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Dreamjser</a>
      </div>
      <div class="collapse navbar-collapse" id="blog-navbar-menu">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="http://www.dreamjser.com/">首页</a>
          </li>
          <li>
            <a href="http://www.dreamjser.com/">文章归档</a>
          </li>
          <li>
            <a href="http://www.dreamjser.com/">实例</a>
          </li>
          <li>
            <a href="http://www.dreamjser.com/">关于</a>
          </li>
          <li>
            <a href="http://www.dreamjser.com/">Github</a>
          </li>
        </ul>
        <div class="nav navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="搜索">
          </div>
          <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="mod-article-list">
          <article>
            <header>
              <h4><a href="">Online Learning算法理论与实践</a> <i class="sprite sprite-top-icon"></i></h4>
            </header>
            <p class="article-content">
              Online Learning是工业界比较常用的机器学习算法，在很多场景下都能有很好的效果。本文主要介绍Online Learning的基本原理和两种常用的Online Learning算法：FTRL（Follow The Regularized Leader）[1]和BPR（Bayesian Probit Regression）[2]，以及Online Learning在美团移动端推荐重排序的应用。
            </p>
            <div class="article-type clearfix">
              <span class="article-category">分类：<a href="">javascript</a></span>
              <span class="article-tags">标签：<a href="" class="label label-default">angularjs</a><a href="" class="label label-default">reactjs</a></span>
            </div>
            <div class="article-info clearfix">
              <span>2016-04-21</span>
              <span class="info-right">
                <span><i class="glyphicon glyphicon-eye-open"></i> 12323</span>
                <span><i class="glyphicon glyphicon-comment"></i> 0</span>
              </span>
            </div>
          </article>
          <article>
            <header>
              <h4><a href="">Online Learning算法理论与实践</a></h4>
            </header>
            <p class="article-content">
              Online Learning是工业界比较常用的机器学习算法，在很多场景下都能有很好的效果。本文主要介绍Online Learning的基本原理和两种常用的Online Learning算法：FTRL（Follow The Regularized Leader）[1]和BPR（Bayesian Probit Regression）[2]，以及Online Learning在美团移动端推荐重排序的应用。
            </p>
            <div class="article-type clearfix">
              <span class="article-category">分类：<a href="">javascript</a></span>
              <span class="article-tags">标签：<a href="" class="label label-default">angularjs</a><a href="" class="label label-default">reactjs</a></span>
            </div>
            <div class="article-info clearfix">
              <span>2016-04-21</span>
              <span class="info-right">
                <span><i class="glyphicon glyphicon-eye-open"></i> 12323</span>
                <span><i class="glyphicon glyphicon-comment"></i> 0</span>
              </span>
            </div>
          </article>
        </div>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>

      <nav class="col-md-3">
        <h3 class="pub-title">分类目录</h3>
        <div class="mod-category-list">
          <a href="">javascript(222)</a>
          <a href="">javascript(222)</a>
          <a href="">javascript(222)</a>
          <a href="">javascript(222)</a>
          <a href="">javascript(222)</a>
        </div>

        <h3 class="pub-title">标签</h3>
        <div class="mod-tag-list">
          <a href="" class="label label-default">react(11)</a>
          <a href="" class="label label-default">react(11)</a>
          <a href="" class="label label-default">react(11)</a>
          <a href="" class="label label-default">react(11)</a>
          <a href="" class="label label-default">react(11)</a>
        </div>

        <h3 class="pub-title">热门文章</h3>
        <ol class="mod-hot-list">
          <li><a href="">Online Learning算法理论与实践 </a></li>
          <li><a href="">Online Learning算法理论与实践 </a></li>
          <li><a href="">Online Learning算法理论与实践 </a></li>
          <li><a href="">Online Learning算法理论与实践 </a></li>
          <li><a href="">Online Learning算法理论与实践 </a></li>
        </ol>
      </nav>
    </div>
  </div>

  <footer class="footer">
    &copy;dreamjser 京ICP备16012618号
  </footer>

  <script src="../js/utils/jquery-bootstrap.js"></script>
  <script src="../js/bundle/common.js"></script>
  <script src="../js/bundle/home.js"></script>
</body>
</html>
