@import '../../scss/base/_variables';
@import '../../scss/base/_mixins';

.component-returntop{
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  line-height: 44px;
  right: 80px;
  bottom: 80px;
  padding-right: 1px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  background-color: #333;
  background-color: rgba(0,0,0,0.75);
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .component-returntop{
    right: 20px;
    bottom: 20px;
  }
}
