@import '../base/_variables';
@import '../base/_mixins';
@import '../modules/_sprite-icon';
@import '../modules/_nav';
@import '../modules/_article';
@import '../modules/_comment';

.article-header{
  position: relative;
  h1{
    color: $grey-heavy;
    i{
      position: absolute;
      right: 0px;
      top: -25px;
    }
  }
  .top-header{
    margin-right: 80px;
  }
  .article-time{
    color: $grey-light;
    i{
      width: 16px;
      height: 16px;
      margin-left: 30px;
      vertical-align: middle;
    }
  }
}
.article-content{
  h2{
    padding-left: 8px;
    border-left: 3px $blue solid;
    font-size: 28px;
  }
}
.article-tags{
  strong{
    color: #555;
  }
  strong,a{
    vertical-align: middle;
  }
  padding: 20px 0 22px;
  font-size: 20px;
}

.article-nodata{
  color: red;
  font-size: 26px;
  text-align: center;
}
